<h1> Add an inspiration </h1>

<%= form_for @inspiration do |f| %>
	<% if flash[:error] -%>
	  <p class='error'><%= flash[:error] %></p>
	<% end -%>
	<%=f.text_field :content, :placeholder => "inspire folks" %>
	<%=f.submit "inspire the world!" %>
<% end %>

<h1> Admin Inspirations </h1>

<%= render :partial => '/shared/inspiration_list_item', :collection => @admin_inspirations.pending.reverse %>
<%= render :partial => '/shared/inspiration_list_item', :collection => @admin_inspirations.live %>
<%= render :partial => '/shared/inspiration_list_item', :collection => @admin_inspirations.complete %>