<h1><%=@inspiration.content%></h1>

<div class="row-fluid">
  <div class="span12">
    <% @photos.each do |photo| %>
      <div class="photo">
        <%= image_tag photo.image_url.to_s %>
        <%= link_to 'Show', photo %>
        <%= link_to 'Edit', edit_photo_path(photo) %>
        <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>
</div>


<br />

<%= render 'photos/form' %>
