<div id="page-container">
	<%= render 'shared/messages' %>
	<%= render 'shared/facebook_desktop' %>
	<div class='inspiration'>
		<h1><i class='brand'>Inspiration: </i><span class='quote'><%=@inspiration.content%></span></h1>
	</div>
	<div id='container'>
	  <% @photos.each do |photo| %>
	     <%= render :partial => '/shared/photo', :locals => {:photo => photo} %>
	  <% end %>
	</div>
	<div>
	<script> function sendRequestViaMultiFriendSelector() {
	  FB.ui({method: 'apprequests',
	    message: 'My Great Request'
	  }, requestCallback);
	} </script>
</div>

<% if current_user %>
	<%= render :partial => 'photos/form', :locals => {:inspiration => @inspiration} %>	

	<div class="footer-mobile">
		<div class="menu-button">
			<a href="">Explore</a>
		</div>
		<div class="menu-button">
			<a href="" id="file_field_button">Add photo</a>
		</div>
		<div class="menu-button">
			<%=link_to "Profile", user_path(current_user)%>
		</div>
	</div>
<% else %>
	<div class="photo-form">
		<div id="choose">
			<%= button_to "Add your photo", new_user_registration_path, :id => 'file_field_button', :method=> 'get'%>
		</div>
	</div>
<% end %>



