<div id="page-container">
  <%= render 'shared/messages' %>
  <%= render 'shared/facebook_desktop' %>
  <div class='inspiration'>
    <h1><i class='brand'>Inspiration: </i><span class='quote'><%=@inspiration.content%></span></h1>
  </div>
  <div id='container'>
    <div class="item inspire_world" id='file_field_button'>
      <a class="inspire_world" href=""> Inspire the world ...
      <br><br>
      <i class="icon-camera-retro icon-2x" ></i>
      </a>
    </div>
    <% @photos.each do |photo| %>
       <%= render :partial => '/shared/photo', :locals => {:photo => photo} %>
    <% end %>
  </div>
  <script> function sendRequestViaMultiFriendSelector() {
    FB.ui({method: 'apprequests',
      message: 'My Great Request'
    }, requestCallback);
  } </script>
</div>

<% if current_user %>
  <%= render :partial => 'photos/form', :locals => {:inspiration => @inspiration} %>  

  <div class="footer-mobile">
    <div class="menu-button">
      <%=link_to image_tag('explore-button.png', :class=>'btn-img'), user_path(current_user)%>
    </div>
    <div class="menu-button">
      <%= render :partial => 'photos/mobile_form', :locals => {:inspiration => @inspiration} %> 
    </div>
    <div class="menu-button">
      <%=link_to image_tag('user-button.png', :class=>'btn-img'), user_path(current_user)%>
    </div>
  </div>
<% else %>
  <div class="photo-form">
    <div id="choose">
      <%= button_to "Add your photo", new_user_registration_path, :id => 'file_field_button', :method=> 'get'%>
    </div>
  </div>
<% end %>



