<div id="page-container">
	<div class='inspiration row-fluid'>
		<div class="inspiration-holder">
			<h1><span class="quote" id="quote-inspire"><%=@inspiration.content%></span></h1>
			<div class='quote'><%= DateTime.now.strftime("%B %d, %Y")%></div>
		</div>
		<div class="share-holder" id="share-desktop">
			<h3><span class="quote">Inspire friends</span></h3>
			<%= render 'shared/facebook_desktop' %>
			<%= render 'shared/twitter_share' %>
		</div>
	</div>
  <div id="loading">
    <i>Photo Uploading...</i>
    <i class="icon-spinner icon-spin icon-4x"></i>
  </div>
	<div id='container'>
    <%if current_user%>
      <div class="item inspire_world" id="cam_upload">
        <i class="inspirely"> Inspire the world ...
        <br><br>
        <i class="icon-camera-retro icon-2x" ></i>
        </i>
      </div>
    <%else%>
      <a href="/users/sign_in">
        <div class="item inspire_world">
          <i class="inspirely"> Sign in to Inspirely
          <br><br>
          <i class="icon-camera-retro icon-2x" ></i>
          </i>
        </div>
      </a>
    <%end%>
	  <% @photos.each do |photo| %>
	     <%= render :partial => '/shared/photo', :locals => {:photo => photo} %>
	  <% end %>
	</div>
</div>

<div class="share-holder" id="share-mobile">
	<h3><span class="quote">Inspire friends</span></h3>
	<%= render 'shared/facebook_desktop' %>
	<%= render 'shared/twitter_share' %>
</div>

<% if current_user %>
	<%= render :partial => 'photos/form', :locals => {:inspiration => @inspiration} %>	
	<%= render :partial => 'shared/footer_mobile', :locals => {:inspiration => @inspiration} %>
<% else %>
  <%= render :partial => 'shared/footer_mobile_logged_out', :locals => {:inspiration => @inspiration} %>
<% end %>


