<div id="page-container">
  <%= render 'shared/messages' %><!-- body_header -->
  <div class='row-fluid'>
    <%= render 'body_header_left' %>
    <%= render 'body_header_right' %>
  </div> <!-- end body_header  -->
  
  <%= render 'body_photos' %>

<div class="share-holder" id="share-mobile"><!-- footer and uploader form -->
  <h3><span class="quote">Inspire friends</span></h3>
  <%= render 'shared/facebook_desktop' %>
  <%= render 'shared/twitter_share' %>
</div>

<% if current_user %>
	<%= render :partial => 'photos/form', :locals => {:inspiration => @inspiration} %>	
	<%= render :partial => 'shared/footer_mobile', :locals => {:inspiration => @inspiration} %>
  <% else %>
    <%= render :partial => 'shared/footer_mobile_logged_out', :locals => {:inspiration => @inspiration} %>
<% end %><!-- end footer and uploader form -->

