<div id="page-container">
  <h1 class="profile-title"><%= @user.username %>,</h1>

  <h3 class="profile-subtitle">You've shared in <%= pluralize(@user.photos.count, "inspiration") %></h3>

  <% @user.photos.each do |photo| %>
    <a href="/inspirations/<%=photo.inspiration.id%>">
      <div class="row-fluid profile-bar"> 
        <div class="span1 content-photo"> 
           <%= render :partial => 'shared/thumb', :locals => {:photo => photo} %>
        </div>
        <div class="span9 content-name">
           <%= photo.inspiration.content %>
        </div>
        <div class="span2 content-date">
         <%= photo.created_at.strftime("%d %b. %Y") %>
        </div>
      </div>
    </a>
  <% end %>
</div>

