<div id="page-container">
  <h1 class="other-profile-title"><%= @user.username %> </h1> 
  <h3 class="profile-subtitle"><span id='count'><%= @user.photos.count %></span> Photos</h3>
  <% if current_user.subscription_status == 0 %>
    <h5 class="profile-subtitle"><%=link_to "Unsubscribe", unsubscribe_user_path, :method => :post %> from Inspirely emails</h5>
  <% else %>
    <h5 class="profile-subtitle"><%=link_to "Subscribe", subscribe_user_path(current_user.id), :method => :post %> to Inspirely daily emails</h5>
  <% end %>
  <%=link_to "blah", "http://inspirely.co/users/#{current_user.id}"%>
  <% @inspirations.each do |inspiration| %>
    <a href="/inspirations/<%=inspiration.id%>">
      <div class="profile-bar"> 
        <div class="content-date">
         <%= inspiration.created_at.strftime("%d %b. %Y") %>
        </div>
        <div class="content-name">
           <%= inspiration.content %>
        </div>
        <div class="row-fluid photo_thumbs">
          <%= render :partial => '/shared/photo_thumb', :collection => inspiration.photo_by_user(@user).limit(6) %>
        </div>
      </div>
    </a>
  <% end %>
</div>
<%= render :partial => 'shared/footer_mobile_other_pages' %>
