<div class="profile-bar">
  <div class="row-fluid">
    <div class="content-date">
       <%= inspiration_explore_item.created_at.strftime("%d %b. %Y") %>
    </div>
    <div class="span9 content-name">
       <%= inspiration_explore_item.content %>
    </div>
    <div class="span2 content-date">
       <%=inspiration_explore_item.photo_count %> photos
    </div>
    <%=link_to "", inspiration_path(inspiration_explore_item) %>
  </div>
  <div class="row-fluid">
    <div class="photo_thumbs">
      <%= render :partial => '/shared/photo_thumb', :collection => inspiration_explore_item.photos.limit(6) %>
    </div>
  </div>
</div>
