<div class="photo-form">
  <%= form_for @photo do |f| %>
    <% if @photo.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

        <ul>
        <% @photo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <div>
        <div class="wrapper">
          <%= f.file_field :image, :id => 'file_field' %>
        </div>
      </div>
      <div id ='caption'>
        <%= f.text_field :caption,  :placeholder => "caption" %>
      </div>
      <div id ='photo-button',>
        <%= f.submit :class => 'btn',  :value => 'Upload'%>
      </div>  
  <% end %>
</div>

<div id="choose">
  <button id="file_field_button">Choose a Photo</button>
</div>

<div id="uploader">
  <button id="photo_upload_button">Upload</button>
</div>
