<div class="photo-form">
  <%= form_for(@photo) do |f| %>
    <% if @photo.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

        <ul>
        <% @photo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <%= f.label :caption %><br />
      <%= f.text_field :caption %>
      </p>
      <p>
        <%= f.file_field :image %>
      </p>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
