<div class="photo-form">
  <%= form_for @photo do |f| %>
    <% if @photo.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>
        <ul>
        <% @photo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <div id ='caption'>
        <%= f.text_field :caption,  :placeholder => "caption" %>
      </div>
      <div>
        <%= f.file_field  :image, :id => 'file_field'%>
      </div>
      <%= f.hidden_field :inspiration_id, :value => inspiration.id %>
      <div id ='photo-button'>
        <%= f.submit :class => 'btn',  :value => 'Upload'%>
      </div>  
  <% end %>


  <div id="choose">
    <button id="file_field_button" class="file_field_button_style">Add Photo</button>
  </div>

  <div id="uploader">
    <button id="photo_upload_button">Upload</button>
  </div>
</div>
