
<div class="row-fluid">
  <div class="span4">
    yay
  </div>
  <div class="span4">
    word
  </div>
  <div class="span4">
    word up
  </div>


</div>

<% @photos.each do |photo| %>
  <tr>
    <td><%= image_tag photo.image_url.to_s %></td>
    <td><%= link_to 'Show', photo %></td>
    <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
    <td><%= link_to 'x', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photo', new_photo_path %>
