<div id="page-container">
	<p id="notice"><%= notice %></p>
	<div class='show-container'>
		<div class="inspiration-page">
      <h1>
        <%=@inspiration.content%>
      </h1>
      <div ><%= DateTime.now.strftime("%B %d, %Y")%>
      </div>
    </div>
      <div class='image-container'>
			 <%= image_tag @photo.image_url, :class => 'img-show' %>
		  </div>
		  <div class='user-info'>
			 <span class='photo-user'>Created By: <%= link_to @photo.user.username, @photo.user %></span>			
			<div class="fb-like" data-href="http://inspirely.co/photos/<%=@photo.id%>" data-send="true" data-width="450" data-layout="button_count"></div>
		</div>
		<div class='vote-stats'>
			<div class='vote-count'>Vote Count: <%= @photo.votes.count %></div>
	    <% if current_user %>
	        <% if current_user.voted_on? @photo %>
	         <span class='voted'>Voted!</span>
	        <% else %>
            <%= form_for @photo.votes.build do |f| %>
              <%= f.hidden_field :photo_id %>
              <%= f.submit 'Vote', :class=> 'submit-button' %>
            <% end %>
	        <% end %>
      <% else %>
        <a class='signin-photo' href="/users/sign_in"><div class='signin-button'>Sign in to Vote</div>
	    <% end %></a>
    </div>
   	</div>
	</div>
</div>
<%= render :partial => 'shared/footer_mobile_other_pages' %>
