<div id="page-container">
	<p id="notice"><%= notice %></p>
	<div class='inspiration-date'>
		<%= @photo.inspiration.created_at.strftime("%B %d, %Y")%>
	</div>

	<div class='inspiration'>
		<h1><i class='brand'> Inspiration: </i><span class='quote'><%=@photo.inspiration.content%></span></h1>
	</div>

	<div class='show-container'>
		<div class='image-container'>
			<%= image_tag @photo.image_url, :class => 'img-show' %>
		</div>
		<div class='user-info'>
			<span class='photo-user'>Created By: <%= link_to @photo.user.username, @photo.user %></span>			
			<div class="fb-like" data-href="http://frozen-cove-1468.herokuapp.com/inspirations/<%=@photo.inspiration.id%>" data-send="true" data-width="450" data-layout="button_count"></div>
		</div>
		<div class='vote-stats'>
			<span class='vote-count'>Vote Count: <%= @photo.votes.count %></span>
	    <% if current_user %>
	        <% if current_user.voted_on? @photo %>
	         <span class='voted'>Voted!</span>
	        <% else %>
            <%= form_for @photo.votes.build do |f| %>
              <%= f.hidden_field :photo_id %>
              <%= f.submit 'Vote', :class=> 'submit-button' %>
            <% end %>
	        <% end %>
	    <% end %>
	    
   	</div>
	</div>
</div>