<div id="page-container">
	<p id="notice"><%= notice %></p>
	<div class='show-container'>
		<div class='image-container'>
			<div class='inspiration row-fluid'>
				<div class="inspiration-holder">
					<h1><span class="quote" id="quote-inspire"><%=@inspiration.content%></span></h1>
					<div class='quote'><%= DateTime.now.strftime("%B %d, %Y")%></div>
				</div>
			</div>
			<%= image_tag @photo.image_url, :class => 'img-show' %>
		</div>
		<div class='user-info'>
			<span class='photo-user'>Created By: <%= link_to @photo.user.username, @photo.user %></span>			
			<div class="fb-like" data-href="http://inspirely.co/photos/<%=@photo.id%>" data-send="true" data-width="450" data-layout="button_count"></div>
		</div>
		<div class='vote-stats'>
	    <% if current_user %>
	        <% if current_user.voted_on? @photo %>
	        <span class='vote-count'>Vote Count: <%= @photo.votes.count %></span>
	         <span class='voted'>Voted!</span>
	        <% else %>
	        <span class='vote-count'>Vote Count: <%= @photo.votes.count %></span>
            <%= form_for @photo.votes.build do |f| %>
              <%= f.hidden_field :photo_id %>
              <%= f.submit 'Vote', :class=> 'submit-button' %>
            <% end %>
	        <% end %>
	    <% end %>
	    
   	</div>
	</div>
</div>
<%= render :partial => 'shared/footer_mobile_other_pages' %>