<!DOCTYPE html>
<html>
<head>
  <title>Inspirely</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Patrick+Hand|Permanent+Marker|Playfair+Display|Gloria+Hallelujah|Esteban|Handlee|Strait|Original+Surfer|Alike' rel='stylesheet' type='text/css'><!-- text in the photos -->
  <link href='http://fonts.googleapis.com/css?family=Petit+Formal+Script|Allura|Arizonia|' rel='stylesheet' type='text/css'><!-- logo -->
  <link href='http://fonts.googleapis.com/css?family=Dosis|Cagliostro|Roboto+Condensed|Titillium+Web' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= render '/shared/facebook_script' %>
  <%= render '/shared/header' %> 
  </header> <!-- end of header -->
  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <% end %>  
  <%= yield %>
</body>
</html>
