<!DOCTYPE html>
<html>
<head>
  <title>InspireMe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container-fluid">
        <%= link_to "Inspirations", root_path, id: "logo", class: "brand" %>
        <nav>
          <ul class="nav pull-right">
            <% if current_user %>
              <li><%= link_to "Logout", destroy_user_session_path, :method => 'delete' %></li>
              <li><%= link_to "Add Inspiration", new_inspiration_path %></li>
              <li><%= link_to "Profile", current_user %></li>
            <% else %>
              <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
              <li><%= link_to "Log in", new_user_session_path %></li>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </header>
<div class="container-fluid main-container">
  <p class="notice"><%= notice %></p>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
