<!DOCTYPE html>
<html>
<head>
  <title>InspireMe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <link href='http://fonts.googleapis.com/css?family=Patrick+Hand|Permanent+Marker|Playfair+Display|Gloria+Hallelujah|Esteban|Handlee|Strait|Original+Surfer|Alike' rel='stylesheet' type='text/css'><!-- text in the photos -->
  <link href='http://fonts.googleapis.com/css?family=Petit+Formal+Script|Allura|Arizonia|' rel='stylesheet' type='text/css'><!-- logo -->
</head>
<body>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=431313223624498";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <header class="omar-header">
    <%= link_to "Inspire Me", root_path, id: "logo", class: "brand" %>
    <ul class="mobile-nav">
      <% if current_user %>
        <li><%= link_to "Logout", destroy_user_session_path, :method => 'delete' %></li>
        <li><%= link_to "Add photo", new_inspiration_path %></li>
        <li><%= link_to "Profile", current_user %></li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_session_path %></li>
        <li><%= link_to "Log in", new_user_session_path %></li>
      <% end %>
    </ul><!-- end of links --> 
  </header> <!-- end of header -->
  <div class="messages">
    <p class="notice" ><%= notice %></p>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
  </div> <!-- end alert -->

  <%= yield %>
</body>
</html>
